@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
.banner {
  color: white;
  object-fit: contain;
  height: 448px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  .banner-content {
    background: linear-gradient(77deg);
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }
  .banner-description {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 400;
  }
}

.banner-buttons {
  display: flex;
  gap: 10px;

  .banner-button {
    color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 200ms ease;
    color: black;
    gap: 4px;
    margin-bottom: 50px;
    p {
      margin-top: 5px;
    }
    &:hover {
      opacity: 0.8;
      transition: all 200ms ease;
    }
  }
  .btn-1 {
    color: white;
    background-color: rgb(51, 51, 51, 0.5);
    p {
    }
  }
}

.empty-row {
  background: linear-gradient(180deg, rgb(0, 0, 0, 0), #141414 95%);
  transform: translateY(-50px);
  height: 50px;
}
