@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Open%20Sans");
.row {
  margin: 20px;
  h1 {
    font-family: "Open Sans";
    color: white;
    font-size: 2rem;
    padding: 10px;
  }

  .row-posters {
    overflow-y: hidden;
    overflow-x: visible;
    padding: 10px;
    display: flex;

    gap: 8px;
    .row-poster-wide {
      object-fit: contain;
      max-height: 150px;
      cursor: pointer;
      transition: all 450ms ease;
      &:hover {
        transform: scale(1.05);
        transition: all 450ms ease;
      }
    }
    .row-poster {
      object-fit: contain;
      max-height: 250px;
      cursor: pointer;
      transition: all 450ms ease;
      &:hover {
        transform: scale(1.05);
        transition: all 450ms ease;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
